 html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'bonvenocflight';
    src: url('fonts/BonvenoCF-Light-webfont.eot');
    src: url('fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BonvenoCF-Light-webfont.woff') format('woff'),
    url('fonts/BonvenoCF-Light-webfont.ttf') format('truetype'),
    url('fonts/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HEARDER */
header{
    margin: 30px 40px -70px 80px;
}

.logo {
    width: 94px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
}

form {
    display: block;
    margin-top: 0em;
}


/* Style the search field */
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 25%;
    background: #f1f1f1;
    height: 23px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
}

.fa-money-bill-wave::before {
    color: #0871e2;
    position: relative;
    padding-left: 9px;
    top: 12px;
}
.fa-child::before {
    color: #0871e2;
    position: relative;
    top: 13px;
    margin-left: 16px;
}
.fa-heart::before {
    color: #0871e2;
    position: relative;
    bottom: -17px;
    margin-left: 13px;
}
.fa-dog::before {
    color: #0871e2;
    margin: 10px 12px 12px 12px;
    display: flex;
}

h2#btn{
    margin-left: 2px;
}

i.fas.fa-info-circle {
    color: dodgerblue;
    position: relative;
    bottom: 39px;
    margin-left: 10px;
    cursor: pointer;
}
.line-infos{
    padding-left: 60px;
    position: relative;
    bottom: 80px;
}


.fa-map-marker-alt{
    float: left;
    position: relative;
    background-color:#eaeaea;
    height: 45px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    width: 50px;
    cursor: pointer;
}

.fa-map-marker-alt::before {
    position: relative;
    top: 2px;
    margin-left: 17px;
    font-size: 20px;
}

.btn-all {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

button.search-in{
    background-color: white;
    border: 0px;
    height: 46px;
    width: 160px;
    color: black;
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    font-size: 14px;
}
/* Style the submit button */
form.search button {
    width: 11%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid #f1f1f1;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    float: left;
}

form.search button:hover {
    background: #0b7dda;
}


/* Style the submit button */


/* Menu */

nav ul{
    display: flex;
    list-style-type: none;
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li {
    margin-right: 42px;
}

nav ul li a{
    position: relative;
    bottom: 425px;
    text-decoration: none;
    float: right;
    margin-right: -5px;
    padding-left: 25px;
}

nav ul li a:hover {
    border-top: 1px solid dodgerblue;
    height: 70px;
}

nav ul li a:visited {
    color: lightgray;
}

nav ul li a:active {
    color: lightgrey;
}

button.search{
    background-color: white;
    border: 0px;
    height: 45px;
    width: 190px;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;

}

button{
    text-align: center;
}

.btncontent{
    display: flex;
    margin: 20px 0 10px;
}

.btn{
    display: flex;
    justify-content: flex-start;
    border-radius: 40px 40px 40px 40px;
    height: 60px;
    padding-top: 20px;
    width: 200px;
    border: 1px solid lightgrey;
}

p.btn-p {
    margin-left: 60px;
    bottom: 10px;
    position: relative;
}
.btn-p2 {
    margin: 0px 0px;
    font-size: 14px;
    padding-left: 42px;
    width: 170px;
}

.fil{
    font-size: 14px;
    padding-top: 16px;
    padding-right: 15px;
}

.btncontent h2 {
    position: relative;
    top: 5px;
    font-size: 14px;
    padding-right: 10px;
}

section{
    background-color: #EAEAEA;
    border-radius: 20px 20px 20px 40px;
    height: 630px;
    width: 830px;
    margin-left: 80px;
}

section h1{
    font-size: 16px;
    margin-top: 5px;
    padding-top: 2%;
    bottom: 3000px;

}



#hebergement-region {
    flex-direction: column;
    display: flex;
    margin: 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-bottom: 10%;
}

.auberge-1 {
    order: 1;
    margin-bottom: 2%;

}
.auberge-2 {
    order: 2;
    margin-bottom: 2%;

}
.auberge-3 {
    order: 3;
    margin-bottom: 2%;

}
.auberge-4 {
    order: 4;
    margin-top: 2%;

}
.auberge-5 {
    order: 4;
    margin-top: 2%;

}
.auberge-6 {
    order: 6;
    margin-top: 2%;

}
button.btn{
    width: 190px;
    margin: 12px;
}
button.btn:hover {
    color: steelblue;
}
.fa-money-bill-wave {
    bottom: 72px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #b4dfff;
    margin-left: 10px;
}
.fa-child {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #b4dfff;
    bottom: 72px;
    margin-left: 5px;
}

.fa-heart {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #b4dfff;
    margin-left: 5px;
    bottom: 72px;
}

.fa-dog {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #b4e0ff;
    float: left;
    bottom: 72px;
    margin-left: 5px;
}

i.fas.fa-dog.fa-2x::before {
    top: 17px;
}


div#btn h2{
    margin-top: 45px;
    font-size: 14px;
}


/* Menu Filtre */
.btn.barre-filter-btn
{
    position: relative;
    width: 300px;
    bottom: 10px;
}

input.btn1{
    height: 40px;
}

input a{
    display: none;
}


.rating a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    color: blue;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}
.fa.fa-stars.blue{
    color: #0000FF;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}


.auberge-1 img{
    width: 233px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 3px;
    object-fit: cover;
}

.auberge-1{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

h1 section{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 2%;
}
.auberge-1 p{
    text-align: left;
    margin-left: 10px;
}

.fa-stars{
    color: blue;
}

/* Auberge2 */

.auberge-2 img{
    width: 233px;
    height: 117px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    padding-top: 3px;
    margin-right: 3px;
    object-fit: cover;
}

.auberge-2{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

.auberge-2 p{
    text-align: left;
    margin-left: 10px;
}


.rating2 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating2 a:hover,
.rating2 a:focus,
.rating2 a:hover ~ a,
.rating2 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa2.fa-stars2.blue2{
    color: #0000ff;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}

/* Auberge3 */


.auberge-3 img{
    width: 233px;
    height: 117px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    padding-top: 3px;
    margin-right: 3px;
    object-fit: cover;

}

.auberge-3{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

.auberge-3 p{
    text-align: left;
    margin-left: 10px;
}


.rating3 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating3 a:hover,
.rating3 a:focus,
.rating3 a:hover ~ a,
.rating3 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa3.fa-stars3.blue3{
    color: #0000ff;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}

/* Auberge4 */


.auberge-4 img{
    width: 235px;
    height: 112px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    padding-top: 3px;
    margin-right: 3px;
    object-fit: cover;
}

.auberge-4{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

.auberge-4 p{
    text-align: left;
    margin-left: 10px;
}


.rating4 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating4 a:hover,
.rating4 a:focus,
.rating4 a:hover ~ a,
.rating4 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa4.fa-stars4.blue4{
    color: #0000ff;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}


/* Auberge5 */


.auberge-5 img{
    width: 233px;
    height: 117px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    padding-top: 3px;
    margin-right: 3px;
}

.auberge-5{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

.auberge-5 p{
    text-align: left;
    margin-left: 10px;
}


.rating5 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating5 a:hover,
.rating5 a:focus,
.rating5 a:hover ~ a,
.rating5 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa5.fa-stars5.blue5{
    color: #0000ff;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}



/* Auberge5 */


.auberge-6 img{
    width: 233px;
    height: 117px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 3px;
    padding-top: 3px;
    object-fit: cover;
}

.auberge-6{
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
}

.auberge-6 p{
    text-align: left;
    margin-left: 10px;
}


.rating6 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating6 a:hover,
.rating6 a:focus,
.rating6 a:hover ~ a,
.rating6 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa6.fa-stars6.blue6{
    color: #0000ff;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}


#activite-region{
    margin: 50px 20px 0px 80px;
}

.bloc-1 {
    width:300px ;
    height:444px ;
    border: 1px solid #e9e9e9;
    box-shadow: 2px 2px 2px #F2F2F2;
    top: 1200px;
    border-radius: 10px 10px 10px 10px;
}



.marseille{
    display: flex;
    font-size: 14px;
    text-align: center;
}

.reno-activity{
    width:300px;
    height:389px;
    bottom: 7px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    cursor: pointer;
}
.v_port{
    margin-left: 20px;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    padding-top: 10px;
}

p.f_port{
    margin-top: 27px;
    float: left;
    margin-left: 20px;
}
/* Fort de Pomégues*/
.bloc-2 {
    width: 301px;
    height: 235px;
    margin-left: 20px;
    padding-top: 3px;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
    border-radius: 10px 10px 10px 10px;
    top: 77px;
}
.fort-activity {
    width: 303px;
    height: 180px;
    bottom: 5px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.ile_port {
    margin-left: 20px;
    font-size: 14px;
    position: absolute;
    top: 125px;
    cursor: pointer;
}


.bloc-3 {
    width: 303px;
    height: 165px;
    position: relative;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
    top: 279px;
    border-radius: 10px 10px 10px 10px;
    margin-left: -300px;
}

img.frioul-activity {
    width: 303px;
    height: 109px;
    border-radius: 10px 10px 10px 10px;
    float: left;
    bottom: 10px;
    object-fit: cover;
}

.ile_port{
    margin-left: 20px;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}
/* Parc National des Calanques*/

.bloc-4 {
    width: 300px;
    height: 444px;
    position: absolute;
    margin-left: 645px;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
    border-radius: 10px 10px 10px 10px;

}

.parc-activity {
    width: 301px;
    height: 390px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    cursor: pointer;
}

.parcnational{
    margin-left: 20px;
    font-size: 14px;
    margin-right: 100px;
    bottom: 8px;
    cursor: pointer;
    padding-top: 10px;

}

.bloc-5 {
    width: 303px;
    height: 192px;
    margin-left: 340px;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
    border-radius: 10px 10px 10px 10px;
    position: relative;

}


.nd-activity {
    width: 304px;
    height: 140px;
    bottom: 60px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    cursor: pointer;
}

.nd-bloc{
    margin-left: 20px;
    font-size: 14px;
    top: 7px;
    cursor: pointer;
    margin-right: 165px;
    padding-top: 8px;

}


.bloc-6 {
    width: 304px;
    height: 194px;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
    top: 248px;
    border-radius: 10px 10px 10px 10px;
    margin-left: -304px;
    position: relative;
}

.pl-activity {
    width: 304px;
    height: 140px;
    bottom: 59px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 145px;

}

.pl-bloc{
    margin-left: 20px;
    font-size: 14px;
    top: 5px;
    cursor: pointer;
    margin-right: 165px;
    padding-top: 5px;
}



.a-side {
    width: 415px;
    height: 631px;
    background-color: #EAEAEA;
    border-radius: 20px 20px 20px 20px;
    margin: -43px 86px 50px 940px;
    position: relative;
    bottom: 1132px;
    float: right;
    display: flex;
}

.left-bloc {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
    margin-top: 2px;
}

.popular7 p img {
    float: left;
    width: 50%;
    object-fit: cover;

}

.popular7{
    background-color: white;
    width:342px;
    height:145px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 35px;
    cursor: pointer;
}

.popular7 img {
    height: 138px;
    width: 135px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 3px;
    margin-left: 5px;
    object-fit: cover;
    cursor: pointer;
}
.popular7 p{
    float: right;
    cursor: pointer;
}


.rating7 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating7 a:hover,
.rating7 a:focus,
.rating7 a:hover ~ a,
.rating7 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa7.fa-stars7.blue7{
    color: #0000ff;
    font-size: 15px;
    bottom: 30px;
    position: relative;
    float: left;
}
div.rating7{
    float: right;
    margin-right: 100px;
    position: absolute;
    margin-left: 145px;
}

.t-hsm{
    font-size: 14px;
    float: right;
    padding-right: 50px;
    cursor: pointer;

}
/*
.a-side h1{
    font-size: 18px;
    padding-left: 39px;
}
*/

p.scroll-info {
    bottom: 85px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: relative;
}


.hsm{
    bottom: 110px;
    position: relative;
    padding-right: 40px;
    font-size: 14px;
    cursor: pointer;
}


.fa-chart-line{
    position: absolute;
    bottom: 460px; left: 3px;
    padding-top: 25px;
    font-size: 25px;
}

/* Les plus populaires - Au coeur de l'eau */


.popular8 p img {
    float: left;
    width: 50%;
    object-fit: cover;
    cursor: pointer;

}

.popular8{
    background-color: white;
    width:342px;
    height:145px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 35px;
    margin-top: 50px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

.popular8 img {
    height: 138px;
    width: 135px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 3px;
    margin-left: 5px;
    cursor: pointer;
}
.popular8 p{
    float: right;
    cursor: pointer;
}


.rating8 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating8 a:hover,
.rating8 a:focus,
.rating8 a:hover ~ a,
.rating8 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa8.fa-stars8.blue8{
    color: #0000ff;
    font-size: 15px;
    bottom: 30px;
    position: relative;
    float: left;
}
div.rating8{
    float: right;
    margin-right: 100px;
    position: absolute;
    margin-left: 145px;
}

.t-hsm2{
    font-size: 12px;
    float: right;
    margin-right: 77px;
    cursor: pointer;

}

.a-side h1{
    font-size: 18px;
    padding-left: 39px;
    padding-bottom: 2px;
}

.hsm2{
    bottom: 100px;
    position: relative;
    padding-right: 55px;
    font-size: 14px;
    cursor: pointer;
}


.fa-chart-line{
    position: absolute;
    float: right;
    height: 150px;
    width: 150px;
    color: black;
    padding-left: 350px;
    padding-top: 25px;
    top: -10px;
}

/* */


.popular9 p img {
    float: left;
    width: 50%;
    cursor: pointer;
}

.popular9{
    background-color: white;
    width:342px;
    height:145px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 35px;
    margin-top: 50px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
}

.popular9 img {
    height: 138px;
    width: 135px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 3px;
    margin-left: 5px;
    cursor: pointer;
}
.popular9 p{
    float: right;
    cursor: pointer;
}


.rating9 a {
    float: right;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    color: blue;
}
.rating9 a:hover,
.rating9 a:focus,
.rating9 a:hover ~ a,
.rating9 a:focus ~ a {
    color: #0000ff;
    cursor: pointer;
}

.fa9.fa-stars9.blue9{
    color: #0000ff;
    font-size: 15px;
    bottom: 30px;
    position: relative;
    float: left;
}
div.rating9{
    float: right;
    margin-right: 100px;
    position: absolute;
    margin-left: 145px;
}

.t-hsm3{
    font-size: 12px;
    float: right;
    margin-right: 38px;
    cursor: pointer;

}

.a-side h3{
    font-size: 16px;
    margin-left: 45px;
    cursor: pointer;
}

.hsm3{

    bottom: 112px;
    position: relative;
    padding-right: 55px;
    font-size: 14px;
    cursor: pointer;
}


.fa-chart-line{
    position: absolute;
    float: right;
    height: 150px;
    width: 150px;
    color: black;
    padding-left: 350px;
    padding-top: 25px;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 10px;
bottom: 600px;
    position: relative;
}
#b-end{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;

}


.bl p{
    line-height: 5px;
    font-size: 14px;
    cursor: pointer;
}


div.bl.bloc-info-1#b-end{
    display: flex;
    cursor: pointer;
}

div.bl.bloc-info-1{
    margin-left: -100px;
    line-height: 0.5em;
    font-size: 14px;
    cursor: pointer;;
    position: relative;
}

div.bl.bloc-info-2{
    line-height: 0.5em;
    font-size: 14px;
    cursor: pointer;

}

div.bl.bloc-info-3{
    position: relative;
    line-height: 0.5em;
    font-size: 14px;
    cursor: pointer;
}
h3{
    margin-bottom: 30px;
}










 @media only screen
 and (device-width : 375px)
 and (device-height : 667px)
 and (-webkit-device-pixel-ratio : 2)  {


     body {
         margin: 0;
     }

     header {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }


     .logo {
         width: 100px;
         bottom: 650px;
         margin-left: -60px;
     }


     a.signin {
         font-size: 20px;
         bottom: 1281px;
         margin-left: 55px;

     }


     a.sign {
         font-size: 20px;
         padding-top: 50px;
         margin: 50px 400px 0 auto;
     }

     a.sign.s1 {
         position: absolute;
         font-size: 20px;
         color: dodgerblue;
         top: 10px;
         margin-left: -100px;

     }


     a.sign.s2 {
         position: absolute;
         font-size: 20px;
         top:10px;
         margin-left: 80px;
         color: dodgerblue;
     }

     a.sign.s1:hover {
         border-bottom: 2px solid dodgerblue;
         left: 90px;
         padding-left: 50px;
         padding-right: 30px;
     }

     a.sign.s2:hover {
         border-bottom: 2px solid dodgerblue;
         padding-right: 50px;
         padding-left: 30px;
     }


     p.slogan {
         font-size: 20px;
         margin-left: -50px;
         top: 90px;
         position: relative;
     }

     .txt_simple {
         position: relative;
         top: 80px;
         font-size: 20px;
         margin-left: -50px;
     }


     form {

         position: relative;
         top: 80px;
         margin-left: 4px;
     }

     form.search input[type="text"] {
         padding: 10px;
         font-size: 16px;
         border: 1px solid #e3d7d7;
         width: 170px;
         height: 47px;
         display: flex;
         background-color: white;
         color: black;

     }


     .fa-map-marker-alt {
         margin-left: -50px;
         position: relative;
         background-color: #f0f0f0;
         height: 60px;
         cursor: pointer;
         border-radius: 20px 0px 0px 20px;
         width: 60px;
         top: 0px;
     }

     .fa-map-marker-alt::before {
         position: relative;
         top: 15px;
         margin-left: 25px;
         font-size: 25px;
     }


     nav{
         width: auto;
         display: flex;
         flex-wrap: wrap;
     }

     a.sign.s1, a.sign.s2 {
         border-bottom-color: lightgray;
     }
     form.search button {
         width: 70px;
         content: '\f002';
         background: #2196F3;
         color: white;
         border-radius: 20px 20px 20px 20px;
         margin-left: -17px;
         height: 71px;
         bottom: 0px;
     }
i.fas{
    bottom: 73px;
    width:60px;
    height:60px;
}
     i.fas.fa-map-marker-alt.fa-2x{
         width:60px;
         height:69px;
     }

     i.fas.fa-heart.fa-2x{
         position: relative;
         bottom: 142px;
     }

     i.fas.fa-dog.fa-2x{
         position: relative;
         bottom: 212px;
     }


     .btn-all{
         display: inline-block;
         margin : 55px 0px auto;
         width: 55%;
         height: 25%;
     }


     button.btn {
         padding-bottom: 10px;
         margin: 12px;
         height: 60px;
     }
     .btn {
         border-radius: 40px 40px 40px 40px;
         padding-top: 20px;
         border: 1px solid lightgrey;
     }
    .btn.btn1{
        width:166px;
    }
    button.btn.btn1{
        margin-left: -55px;
    }
     .btn.btn2{
         width:135px;
     }
   .btn.btn3{
       bottom: 70px;
       position: relative;
   }
     .btn.btn4{
         bottom: 140px;
         position: relative;
     }



     .line-infos {
         padding-left: 0px;
         position: relative;
         bottom: 245px;
         font-size: 14px;
     }
     .btncontent h2 {
         position: relative;
         top: -70px;
         font-size: 20px;
         padding-right: 10px;
     }

     div.btncontent {
         margin-left: -70px;
         flex-direction: row;
         flex-wrap: wrap;
         width: 420px;
         margin-top: 100px;
     }

     p.btn-p {
         margin-left: 50px;
         bottom: 18px;
         position: relative;
         font-size: 18px;

     }

     .btn-p2 {
         margin: 0;
         padding-left: 42px;
         font-size: 15px;
     }








     i.fas.fa-info-circle {
         color: dodgerblue;
         position: relative;
         bottom: 180px;
         margin-left: -50px;
         cursor: pointer;
     }
     .fa, .fas {
         font-weight: 900;
     }


     section {
         position: relative;
         top:3500px;
         height: 630px;
         width: 710px;
         margin-left: 5px;
         background-color: #eaeaea;
         border-radius: 0;

     }
     section h1 {
         font-size: 25px;
         position: absolute;
         bottom: 3890px;
     }



     .auberge-1 {
         width: 334px;
         height: 194px;
         border: 1px solid white;
         border-radius: 20px 20px 20px 20px;
         background-color: white;
         cursor: pointer;
         order: 1;
         margin-left: 490px;
         box-shadow: 5px 5px 5px lightgrey;
         position: relative;
         bottom: 80px;
     }


     .auberge-1 img {
         width: 325px;
         height: 113px;
         border-radius: 20px 20px 20px 20px;
         margin-left: 7px;
         margin-right: 3px;
         padding-top: 3px;
         object-fit: cover;
     }

     .auberge-1 p {
         text-align: left;
         font-size: 16px;
         margin-left: 25px;
         position: relative;
         line-height: 10px;
     }
     .auberge-2 p{
         line-height: 10px;
         margin-left: 25px;
         position: relative;
         font-size: 16px;
     }

     p.around{
         position: relative;
         bottom: 20px;
     }
     .rating a {
         text-decoration: none;
     }
     .fa.fa-stars.blue {
         color: #0000FF;
         font-size: 17px;
         bottom: 14px;
         position: relative;
         padding-left: 0px;
     }
     .stars, .stars2, .stars3, .stars4, .stars5, .stars6{
         margin-left:20px;

     }

     .auberge-2 {
         width: 334px;
         height: 194px;
         border: 1px solid white;
         border-radius: 20px 20px 20px 20px;
         background-color: white;
         cursor: pointer;
         order: 1;
         margin-left: 490px;
         box-shadow: 5px 5px 5px lightgrey;
         position: relative;
         bottom: 60px;
     }
     .fa2.fa-stars2.blue2{
         position: relative;
         font-size: 18px;
         bottom: 15px;
     }
     .fa3.fa-stars3.blue3{
         position: relative;
         font-size: 18px;
         bottom: 17px;
     }



     .auberge-2 img {
         width: 325px;
         height: 113px;
         border-radius: 20px 20px 20px 20px;
         margin-left: 3px;
         margin-right: 3px;
         padding-top: 3px;
         object-fit: cover;
     }


     .auberge-3 {
         width: 334px;
         height: 194px;
         border: 1px solid white;
         border-radius: 20px 20px 20px 20px;
         background-color: white;
         cursor: pointer;
         order: 1;
         margin-left: 490px;
         box-shadow: 5px 5px 5px lightgrey;
         position: relative;
         bottom: 40px;
     }

 .fa3.fa-stars3.blue3 {
     color: #0000ff;
     margin-bottom: 5px;
     position: relative;
     float: left;
     margin-left: 1px;
     font-size: 20px;
     bottom: 18px;
 }
 .auberge-3 img {
     width: 325px;
     height: 113px;
     border-radius: 20px 20px 0px 0px;
     margin-left: 8px;
     margin-right: 3px;
     padding-top: 3px;
     object-fit: cover;
 }

 .auberge-3 p {
     text-align: left;
     font-size: 16px;
     margin-left: 25px;
     line-height: 10px;


 }
 .auberge-4 {
     width: 334px;
     height: 194px;
     border: 1px solid white;
     border-radius: 20px 20px 20px 20px;
     background-color: white;
     cursor: pointer;
     order: 1;
     margin-left: 490px;
     box-shadow: 5px 5px 5px lightgrey;
     position: relative;
     bottom: 20px;

 }
 .fa4.fa-stars4.blue4 {
         color: #0000ff;
         margin-bottom: 5px;
         position: relative;
         float: left;
         margin-left: 1px;
         font-size: 20px;
         bottom: 18px;
 }
 .auberge-4 img {
     width: 325px;
     height: 113px;
     border-radius: 20px 20px 0px 0px;
     margin-left: 8px;
     margin-right: 3px;
     padding-top: 3px;
     object-fit: cover;
 }

 .auberge-4 p {
     text-align: left;
     font-size: 16px;
     margin-left: 25px;
     line-height: 10px;

 }
     .auberge-4 {
         width: 334px;
         height: 194px;
         border: 1px solid white;
         border-radius: 20px 20px 20px 20px;
         background-color: white;
         cursor: pointer;
         order: 1;
         margin-left: 490px;
         box-shadow: 5px 5px 5px lightgrey;
         position: relative;
         bottom: 20px;

     }
     .fa5.fa-stars5.blue5 {
         color: #0000ff;
         margin-bottom: 5px;
         position: relative;
         float: left;
         margin-left: 1px;
         font-size: 20px;
         bottom: 18px;
     }
     .auberge-5 img {
         width: 325px;
         height: 113px;
         border-radius: 20px 20px 0px 0px;
         margin-left: 8px;
         margin-right: 3px;
         padding-top: 3px;
         object-fit: cover;
     }

     .auberge-5 p {
         text-align: left;
         font-size: 16px;
         margin-left: 25px;
         line-height: 10px;

     }


     .auberge-6 {
         width: 334px;
         height: 194px;
         border: 1px solid white;
         border-radius: 20px 20px 20px 20px;
         background-color: white;
         cursor: pointer;
         order: 1;
         margin-left: 490px;
         box-shadow: 5px 5px 5px lightgrey;
         position: relative;
         bottom: 20px;

     }
     .fa6.fa-stars6.blue6 {
         color: #0000ff;
         margin-bottom: 5px;
         position: relative;
         float: left;
         margin-left: 1px;
         font-size: 20px;
         bottom: 18px;
     }
     .auberge-6 img {
         width: 325px;
         height: 113px;
         border-radius: 20px 20px 0px 0px;
         margin-left: 8px;
         margin-right: 3px;
         padding-top: 3px;
         object-fit: cover;
     }

     .auberge-6 p {
         text-align: left;
         font-size: 16px;
         margin-left: 25px;
         line-height: 10px;

     }




 .reno-activity {
     width: 660px;
     height: 230px;
     bottom: 7px;
     border-radius: 40px 40px 0px 0px;
     object-fit: cover;
     cursor: pointer;
     padding-top: 5px;
 }




 .bloc-1 {
     width: 670px;
     height: 390px;
     border: 1px solid #e9e9e9;
     top: 2500px;
     position: relative;
     margin-left: -50px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 40px 40px 40px 40px;


 }
 .v_port {
     font-size: 34px;
     cursor: pointer;
 }


 .bloc-2 {
     width: 670px;
     height: 390px;
     border: 1px solid #e9e9e9;
     top: 3000px;
     position: relative;
     margin-left: -670px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 40px 40px 40px 40px;




 }
 .fort-activity {
     width: 660px;
     height: 230px;
     bottom: 5px;
     border-radius: 40px 40px 0px 0px;

 }
 p.f_port {
     margin-top: 50px;
     float: left;
     margin-left: 20px;
     font-size: 35px;
 }



 .bloc-3{
     border-radius: 40px 40px 40px 40px;
     margin-left: -670px;
     width: 670px;
     height: 390px;
     box-shadow: 5px 5px 5px lightgrey;
     top: 3500px;
 }
 img.frioul-activity {
     width: 660px;
     height: 230px;
     border-radius: 40px 40px 0px 0px;
     margin-left: 5px;
 }
 .ile_port {
     top: 255px;
     font-size: 35px;
 }
 .bloc-4 {
     width: 670px;
     height: 390px;
     border: 1px solid #e9e9e9;
     top: 4000px;
     position: relative;
     margin-left: -670px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 40px 40px 40px 40px;
 }

 .parc-activity {
     width: 660px;
     height: 230px;
     position: absolute;
     margin-left: -330px;
     border: 1px solid #EFEFEF;
     box-shadow: 5px 5px 5px #EFEFEF;
     border-radius: 40px 40px 40px 40px;
     top: 2px;
 }
 .bloc-5 {
     width: 670px;
     height: 390px;
     border: 1px solid #e9e9e9;
     top: 4500px;
     position: relative;
     margin-left: -670px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 40px 40px 40px 40px;
 }
 .nd-bloc {
     font-size: 35px;
     margin-left: -90px;
 }


 .nd-activity {
     width: 660px;
     height: 230px;
     bottom: 60px;
     border-radius: 40px 40px 40px 40px;
     object-fit: cover;
     cursor: pointer;
 }


 .parcnational {
     font-size: 35px;
     margin-top: 300px;
 }
 .marseille {
     font-size: 20px;
     text-align: center;
 }

 .pl-activity {
     width: 660px;
     height: 230px;
     position: absolute;
     margin-left: -330px;
     border: 1px solid #EFEFEF;
     box-shadow: 5px 5px 5px #EFEFEF;
     border-radius: 40px 40px 40px 40px;
     top: 2px;
 }

 .bloc-6 {
     width: 670px;
     height: 390px;
     border: 1px solid #e9e9e9;
     top: 4500px;
     position: relative;
     margin-left: -670px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 40px 40px 40px 40px;
 }



 .fa-dog {
     position: relative;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     background: #b4e0ff;
     float: left;
     bottom: 113px;
     margin-left: 5px;
 }

 i.fas.fa-dog.fa-2x::before {
     top: 6px;
     position: relative;
     padding-left: 5px;
 }

 .btncontent {
     margin: 20px 0 10px;
 }



 #hebergement-region {
     position: relative;
     width: 80%;
     top: 900px;
 }


 .marseille {
     padding-bottom: 200px;
     position: absolute;
     top: 3200px;
 }





 .a-side {
     width: 100%;
     height: 700px;
     margin: -42px 0px 0px 90px;
     position: relative;
     bottom: 900px;
     border-radius: 0px;
 }

 .a-side h1 {
     font-size: 20px;
     padding-left: 39px;
     padding-top: 20px;
 }



 .flex-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-content: space-around;
     margin-bottom: 10%;
     flex-direction: column;
     margin-right: 400px;
 }

 .fa-heart {
     position: relative;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     background: #b4dfff;
     margin-left: 5px;
     bottom: 112px;
 }

 .fa-heart::before {
     color: #0871e2;
     position: relative;
     bottom: -20px;
     margin-left: 19px;
 }

 .fa-child::before {
     color: #0871e2;
     position: relative;
     top: 20px;
     margin-left: 24px;
 }

 .fa-child {
     bottom: 113px;
     position: relative;
     width: 70px;
     height: 70px;
     border-radius: 50px;
     background: #b4dfff;
     margin-left: 1px;
 }

     .fa-money-bill-wave{

     bottom: 113px;
     position: relative;
     width: 70px;
     height: 70px;
     border-radius: 50px;
     background: #b4dfff;
     margin-left: -59px;
 }


     .fa-heart, .fa-dog{
         width: 70px;
         height: 70px;
     }




 .fa-money-bill-wave::before {
     color: #0871e2;
     position: relative;
     padding-left: 15px;
     top: 20px;
 }


 /*Section hébergement*/
 .fa-chart-line {
     position: relative;
     margin-left: 30px;
     height: 40px;
     width: 150px;
     color: black;
     padding-left: 280px;
     padding-top: 25px;
     top: -80px;
     font-size: 40px;
 }




     .popular7 {
         background-color: white;
         height: 135px;
         border-radius: 20px 20px 20px 20px;
         margin-left: 28px;
         cursor: pointer;
         width: 334px;
         position: relative;
         bottom: 60px;
     }

 .popular7 img {
     height: 127px;
     width: 134px;
     border-radius: 20px 0px 0px 20px;
     padding-top: 3px;
     margin-left: 5px;
     object-fit: cover;
     cursor: pointer;
 }
 .popular7 p {
     cursor: pointer;
     bottom: 85px;
     font-size: 17px;
     position: relative;
     padding-right: 22px;
 }

 .fa7.fa-stars7.blue7 {
     color: #0000ff;
     font-size: 15px;
     bottom: 60px;
     position: relative;
     float: left;
 }


 div.rating7 {
     margin-right: 0;
     float: right;
     position: absolute;
     bottom: -46px;
     margin-left: 15px;

 }




 .t-hsm {
     float: right;
     padding-right: 5px;
     cursor: pointer;
     font-size: 20px;
     word-break: break-word;
     width: 50%;

 }

     .popular8 p {
         cursor: pointer;
         bottom: 85px;
         font-size: 17px;
         position: relative;
         padding-right: 22px;
     }

     .fa8.fa-stars8.blue8 {
         color: #0000ff;
         font-size: 15px;
         bottom: 60px;
         position: relative;
         float: left;
     }

     div.stars8{
         float: right;
         margin-left: 15px;

     }
     div.rating8 {
         margin-right: 0;
         float: right;
         position: absolute;
         top: 160px;
     }




     .popular8 {
         background-color: white;
         height: 135px;
         border-radius: 20px 20px 20px 20px;
         margin-left: 28px;
         cursor: pointer;
         width: 334px;
         position: relative;
         bottom: 60px;
     }



     .popular8 img {
         height: 127px;
         width: 134px;
         border-radius: 20px 0px 0px 20px;
         padding-top: 3px;
         margin-left: 5px;
         object-fit: cover;
         cursor: pointer;
     }
 .popular8 p {
     cursor: pointer;
     bottom: 100px;
     font-size: 17px;
     position: relative;
     padding-right: 8px;
     width: 50%;
 }
     .popular9 {
         background-color: white;
         height: 135px;
         border-radius: 20px 20px 20px 20px;
         margin-left: 28px;
         cursor: pointer;
         width: 334px;
         position: relative;
         bottom: 60px;
     }



     .popular9 img {
         height: 127px;
         width: 134px;
         border-radius: 20px 0px 0px 20px;
         padding-top: 3px;
         margin-left: 5px;
         object-fit: cover;
         cursor: pointer;
     }
     .popular9 p {
         cursor: pointer;
         bottom: 100px;
         font-size: 17px;
         position: relative;
         padding-right: 8px;
         width: 50%;
     }



 .fa9.fa-stars9.blue9 {
     color: #0000ff;
     font-size: 35px;
     bottom: 70px;
     position: relative;
     float: left;
 }

 div.stars9{
     margin-left: 170px;
 }



 .t-hsm3 {
     font-size: 18px;
     cursor: pointer;
     width: 50%;
     margin-right: 10px;
 }
     h2.t-hsm2{
         margin: -35px 2px 0 20px;
         top: 50px;
         position: relative;
     }



 .t-hsm2 {
     float: right;
     padding-right: 5px;
     cursor: pointer;
     font-size: 18px;
     word-break: break-word;
     width: 50%;
 }

     .flex-container {
         margin-left: -500px;
         position: absolute;
         bottom: 2450px;
     }


 p.scroll-info {
     bottom: 2700px;
     font-weight: bold;
     font-size: 20px;

 }


 footer {
     width: 100%;
     display: flex;
     padding: 100px;
     top: 3800px;
     position: relative;
     height: 700px;
 }
 #b-end {
     display: flex;
     flex-direction: column;
     background-color: lightgray;
     justify-content: space-around;
     font-size: 35px;

 }

 div.bl.bloc-info-1 {
     font-size: 35px ;
     margin-left:0;
 }
 .bl p {
     font-size: 34px;
     margin-left: -40px;
 }

 h3 {
     margin-left: -50px;
     font-size: 38px;
     padding-bottom: 60px;
 }

div#activite-region{

    position: relative;
    bottom: 1600px;
    font-size: 20px;
    width: 500px;
    margin-left: 20px;
 }


 }